html {
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
  }

h1 {
    font-size: 60px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 35x;
    line-height: 2;
    letter-spacing: 1;
}

a {
    color: blue;
}

body {
    background-image: url('wbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}