html {
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
  }

h1 {
    font-size: 60px;
    text-align: center;
}

a,
p {
    text-align: center;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1;
}